<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.franc.dao.postgres.ContentsDao">

    <select id="selectContentById" parameterType="Long" resultType="com.franc.vo.postgres.ContentVO">
        /** ContentMapper.selectContentById */
        select a.*
        from test.content a
        where a.content_seq = #{content_seq}
    </select>

    <insert id="insertContent" parameterType="com.franc.vo.postgres.ContentVO">
        /** ContentMapper.insertContent */
        insert into test.content
        (content_seq, content_name, description)
        values (#{content_seq}, #{content_name}, #{description})
    </insert>

    <insert id="insertContentFile" parameterType="com.franc.vo.postgres.ContentFileVO">
        /** ContentMapper.insertContentFile */
        insert into test.content_file
        (file_seq, content_seq, file_path, file_name, content_order)
        values (#{file_seq}, #{content_seq}, #{file_path}, #{file_name}, #{content_order})
    </insert>

</mapper>